[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[user]
	name = Fizzika
    email = Fizzika.NET@yandex.ru

[includeIf "gitdir:~/job/"]
    path = ~/job/.gitconfig
[credential]
	helper = store
