let mapleader = " "
set easymotion
set NERDTree
set which-key
set notimeout
set surround

set scrolloff=15
set incsearch
set nu
set relativenumber

set clipboard+=unnamed
set clipboard+=ideaput

" editor
nnoremap D dd
nnoremap <S-Enter> o<Esc>

nmap \r <Action>(IdeaVim.ReloadVimRc.reload)
nmap \t <Action>(VimFindActionIdAction)

" Project mappings
nmap ,r <Action>(Run)
nmap ,d <Action>(Debug)
nmap ,b <Action>(CompileDirty)
nmap ,c <Action>(ChooseRunConfiguration)
nmap ,s <Action>(Stop)

nmap <A-K> <Action>(NextTab)
nmap <A-J> <Action>(PreviousTab)

nmap <A-I> <Action>(SplitVertically)
nmap <A-U> <Action>(Unsplit)
nmap <A->> <Action>(MoveEditorToOppositeTabGroup)
nnoremap <A-H> <c-w>h
nnoremap <A-L> <c-w>l

nmap <C-K> <Action>(MoveStatementUp)
nmap <C-J> <Action>(MoveStatementDown)
nmap K <Action>(MethodUp)
nmap J <Action>(MethodDown)
nmap <A-X> <Action>(CloseEditor)
nmap <A-/> <Action>(CloseAllEditorsButActive)
nmap <A-Q> <Action>(CloseAllEditors)
nmap <A-Z> <Action>(SelectInProjectView)

nmap <A-F> :NERDTree<CR>
let g:NERDTreeMapActivateNode="l"
let g:NERDTreeMapOpenVSplit="L"
let g:NERDTreeMapCloseDir="h"

" TODO: refactoring action
nmap <A-C> <Action>(ActivateTerminalToolWindow)
nmap <leader>r <Action>(RenameElement)
nmap <leader>t <Action>(ChangeSignature)
nmap <leader>i <Action>(OptimizeImports)
nmap <leader>c <Action>(ReformatCode)
nmap <leader>s <Action>(ActivateServicesToolWindow)
nmap <leader>d <Action>(ToggleDistractionFreeMode)
nmap <leader>u <Action>(ShowUsages)
nmap <leader>a <Action>(GotoAction)
nmap <leader>w <Action>(SurroundWith)


" Jumps
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gp <Action>(GotoSuperMethod)
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gh <Action>(QuickJavaDoc)
nmap gq <Action>(QuickImplementations)
