let mapleader = " "
set easymotion
set NERDTree
set which-key
set notimeout
set surround

set scrolloff=1
set incsearch
set nu
set relativenumber

set clipboard+=unnamed
set clipboard+=ideaput

" editor
nnoremap D dd
nnoremap Z ZZ
nnoremap <S-Enter> o<Esc>

nmap \r <Action>(IdeaVim.ReloadVimRc.reload)
nmap \e :e ~/.ideavimrc<CR>
nmap \t <Action>(VimFindActionIdAction)
nmap \s <Action>(ShowSettings)

" Project mappings
nmap ,r <Action>(Run)
nmap ,d <Action>(Debug)
nmap ,b <Action>(CompileDirty)
nmap ,c <Action>(ChooseRunConfiguration)
nmap ,s <Action>(Stop)

nnoremap <A-H> <c-w>h
nnoremap <A-L> <c-w>l
nmap K <Action>(MethodUp)
nmap J <Action>(MethodDown)

let g:NERDTreeMapActivateNode="l"
let g:NERDTreeMapOpenVSplit="L"
let g:NERDTreeMapCloseDir="h"

nmap <leader>r <Action>(RenameElement)
nmap <leader>t <Action>(ChangeSignature)
nmap <leader>i <Action>(OptimizeImports)
nmap <leader>c <Action>(ReformatCode)
nmap <leader>d <Action>(ToggleDistractionFreeMode)
nmap <leader>u <Action>(ShowUsages)
nmap <leader>a <Action>(GotoAction)
nmap <leader>w <Action>(SurroundWith)
nmap <leader>p <Action>(RecentProjectListGroup)
nmap <leader>m <Action>(RunAnything)
nmap <leader>g <Action>()


" Jumps
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gp <Action>(GotoSuperMethod)
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gh <Action>(QuickJavaDoc)
nmap gq <Action>(QuickImplementations)

sethandler <C-j> a:ide
sethandler <C-k> a:ide